<fieldset class="related-elements-sidebar">
  <legend class="h6">Related elements</legend>
  <div class="meta">
    {% if hasResults %}
      {% for key, section in relatedElements %}
        {% if section|length %}
          {% for element in section %}
            <div class="field" style="padding-block: 12px; padding-inline: var(--m) var(--s);">
              <a href="{{ element.cpEditUrl }}" class="flex flex-nowrap gap-s">
                <span class="status small {{ element.status }}" role="img" aria-label="Status: {{ element.status }}" style="margin-inline-end: 0;"></span>
                <span class="cp-icon small">
                  {% switch key %}
                    {% case 'Entry' %}
                      {{ iconSvg('newspaper') }}
                    {% case 'Category' %}
                      {{ iconSvg('sitemap') }}
                    {% case 'Asset' %}
                      {{ iconSvg('asset') }}
                  {% endswitch %}
                </span>
                <span style="word-break: break-word;">
                  {{ element.title ?? element.id }}
                </span>
              </a>
            </div>
          {% endfor %}
        {% endif %}
      {% endfor %}
      {% for fieldKey, field in nestedRelatedElements %}
        {% set hasFieldElements = false %}
        {% for section in field %}
          {% if section|length %}
            {% set hasFieldElements = true %}
          {% endif %}
        {% endfor %}

        {% if hasFieldElements %}
          <div class="field" style="padding-block: 12px; padding-inline: var(--m) var(--s);">
            <em>
              {{ fieldKey }}
            </em>
          </div>
          {% for key, section in field %}
            {% if section|length %}
              {% for element in section %}
                <div class="field" style="min-height: 34px; padding-top: 0; padding-bottom: 12px; border-top: none;">
                  <div class="flex flex-nowrap gap-s" style="padding-left: var(--m);">
                    <span style="position: relative; top: -3px;">∟</span>
                    <a href="{{ element.cpEditUrl }}" class="flex flex-nowrap gap-s">
                      <span class="status small {{ element.status }}" role="img" aria-label="Status: {{ element.status }}" style="margin-inline-end: 0;"></span>
                      <span class="cp-icon small">
                      {% switch key %}
                      {% case 'Entry' %}
                        {{ iconSvg('newspaper') }}
                      {% case 'Category' %}
                        {{ iconSvg('sitemap') }}
                      {% case 'Asset' %}
                        {{ iconSvg('asset') }}
                      {% endswitch %}
                    </span>
                      <span style="word-break: break-word;">
                      {{ element.title ?? element.id }}
                    </span>
                    </a>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% else %}
      <div class="field flex-1">
        <div style="padding-block: 12px; padding-inline: var(--m) var(--s);">
          <p>No related elements found.</p>
        </div>
      </div>
    {% endif %}
  </div>
</fieldset>
