{% import '_includes/forms.twig' as forms %}

{# Check for config file overrides #}
{% set configFileSettings = craft.app.config.getConfigFromFile('related-elements') %}

<div>
  {{ forms.lightswitchField({
    label: 'Display nested related elements',
    instructions: 'Whether to display the related elements that exist inside the CKEditor, Matrix or Neo fields of an element.',
    name: 'enableNestedElements',
    value: settings.enableNestedElements,
    on: (settings.enableNestedElements is defined) ? settings.enableNestedElements : '',
    class: 'first',
    warning: configFileSettings.enableNestedElements is defined ? 'This setting is being overridden by the "enableNestedElements" setting in your related-elements.php config file.' : null,
    disabled: configFileSettings.enableNestedElements is defined,
  }) }}

  {{ forms.lightswitchField({
    label: 'Show element type labels',
    instructions: 'Whether to display the element type labels (Entry, Category, Asset, Tag) next to each related element.',
    name: 'showElementTypeLabel',
    value: settings.showElementTypeLabel,
    on: (settings.showElementTypeLabel is defined) ? settings.showElementTypeLabel : '',
    warning: configFileSettings.showElementTypeLabel is defined ? 'This setting is being overridden by the "showElementTypeLabel" setting in your related-elements.php config file.' : null,
    disabled: configFileSettings.showElementTypeLabel is defined,
  }) }}

  {{ forms.textField({
    label: 'Initial limit',
    instructions: 'Number of related elements to show initially before requiring "Show More" to expand the list.',
    name: 'initialLimit',
    value: settings.initialLimit,
    type: 'number',
    min: 1,
    max: 100,
    size: 10,
    warning: configFileSettings.initialLimit is defined ? 'This setting is being overridden by the "initialLimit" setting in your related-elements.php config file.' : null,
    disabled: configFileSettings.initialLimit is defined,
  }) }}

    {{ forms.lightswitchField({
    label: 'Use Hard Limits',
    instructions: 'Whether to show all or limit returned values to Hard Limit Count.',
    name: 'useHardLimitCount',
    value: settings.useHardLimitCount,
    on: (settings.useHardLimitCount is defined) ? settings.useHardLimitCount : '',
    warning: configFileSettings.useHardLimitCount is defined ? 'This setting is being overridden by the "useHardLimitCount" setting in your related-elements.php config file.' : null,
    disabled: configFileSettings.useHardLimitCount is defined,
  }) }}

  {{ forms.textField({
    label: 'Hard Limit Count',
    instructions: 'Sets an absolute limit of the number of elements to fetch. Useful for elements with lots of related entries',
    name: 'hardLimit',
    value: settings.hardLimit,
    type: 'number',
    min: 1,
    max: 100,
    size: 10,
    warning: configFileSettings.hardLimit is defined ? 'This setting is being overridden by the "initialLimit" setting in your related-elements.php config file.' : null,
    disabled: configFileSettings.hardLimit is defined,
  }) }}
</div>

